.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}
.buttonContainer {
  /* display: grid; */
  grid-column-start: 3;
  grid-column-end: 3;
  border: solid;
  width: 50%;
  justify-self: stretch;
  margin-top: 20px;
}
button {
  width: 25%;
  height: 100%;
}
